.button{
    padding: 4px;
  height: 40px;
  width: 100px;
  text-align: center;
  background: none;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  color: aliceblue;
  background: black;
  cursor: pointer;
}